[user]
	name = Brian Peiris
	email = brianpeiris@gmail.com
[push]
	default = simple
[core]
	trustctime = false
	editor = vim
	filemode = false
[diff]
	tool = bc3
[difftool]
	prompt = false
[difftool "bc3"]
	cmd = "/c/Program\\ Files/Beyond\\ Compare\\ 4/bcomp.exe" "$(cygpath -w $LOCAL)" "$REMOTE"
