[user]
	name = Brian Peiris
	email = brianpeiris@gmail.com
[push]
	default = simple
[core]
	trustctime = false
	editor = vim
	filemode = false
[color]
	ui = true
[credential]
	helper = cache --timeout=3600
[merge]
	tool = vimdiff
