snippet dc
	console.count("BPDEBUG ${1}");
snippet dl
	console.log("BPDEBUG ${1}", ${2});
snippet dmi
	/**
	 * ${2}
	 * @mixin ${1}
	 */
snippet dpr
	/**
	 * ${2}
	 * @instance
	 * @memberof ${1}
	 */
snippet ad
	addEventListener("
