snippet tr
	translate([${1:0}, ${2:0}, ${3:0}]) {
snippet ro
	rotate([${1:0}, ${2:0}, ${3:0}]) {
snippet mo
	module $0($1) {
snippet di
	difference() {
snippet un
	union() {
snippet cy
	cylinder(${1:1}, ${2:1});
snippet cu
	cube([${1:0}, ${2:0}, ${3:0}]);
